* {
  margin: 0;
  padding: 0;
}

.about {
  max-width: 40%;
  display: block;
  text-align: center;
  margin-top: 10em;
  line-height: 2em;
  /* margin-left: auto; */
  margin-left: 51vw;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
  border: 0.5px solid black;
  border-radius: 4px;
}

.appName {
  font-family: "Baloo Paaji 2", cursive;
  font-weight: 800;
  font-size: 1.2em;
}

.homeText {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1em;
  padding-left: 1em;
  color: #000;
  /* font-family: "IBM Plex Mono", monospace; */
  font-weight: 500;
  text-justify: inter-word;
  background-color: #ffffffa2;
  border-radius: 4px;
}

.callToAction {
  font-family: "Baloo Paaji 2", cursive;
  font-weight: 600;
  font-size: 1.2em;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .about {
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  .homeText {
    font-size: 1.2em;
  }
}
