.items {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
  margin: 20px;
}

.sort-label {
  font-size: 20px;
  text-shadow: 0.5px 0.5px 2px white;
  font-family: 'Montserrat';
  font-weight: 500;
  padding-right: 10px;
  color: black;
}

.sort {
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-family: 'Montserrat';
  background-color: rgba(255, 255, 255, 0.808);
}

@media (max-width: 500px) {
  .items {
    width: 100%;
    justify-content: space-around;
    margin: 0 0px 20px 50px;
  }
}
