
.item-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  padding-top: 80px;
  flex-direction: column;
  text-align: center;
  width: 35% 30% 35%;
  border: 2px solid #81b9bf;
  align-content: space-between;
  background-color: rgba(255, 255, 255, 0.37);
}

.item-edit:before {
  border-bottom: 2px solid #81b9bf;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  top: -35px;
}



.item-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.edit-item-image {
  height: 200px;
  width: 200px;
  padding: 0 40px;
  padding-bottom: 5px;
  
}

.edit-input-image-link {
  height: 25%;
  width: 75%;
  text-align: center;
  font-size: 20px;
  font-family: "Baloo Paaji 2", cursive;
  background-color: rgba(255, 255, 255, 0.096);

}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Baloo Paaji 2", cursive;
  line-height: 1.6;
  width: 50%;
  background-color: rgba(255, 255, 255, 0);

}

.input-name {
  font-family: "Baloo Paaji 2", cursive;
  font-size: 64px;
  text-align: center;
  letter-spacing: 1px;
  padding: 5px;
  color: black;
  background-color: rgba(255, 255, 255, 0.096);
}

.textarea-description {
  font-family: "Baloo Paaji 2", cursive;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.9px;
  line-height: 2;
  background-color: rgba(255, 255, 255, 0.096);

}

.preferred {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.096);

}

.input-preferredQty {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.096);

}

.onHand {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.096);

}

.input-onHandQty {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.096);

}

button:hover{
  background: #356094;
}

.save-button {
  font-size: 22px;
  font-family: "Baloo Paaji 2", cursive;
  height: 40px;
  width: 200px;
  background-color: #81b9bf;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  text-align: center;
  margin: auto;
  line-height: 20px;
}

@media (max-width: 500px) {
  .input-name {
    margin-left: -10px;
    padding-left: -10px;
    font-size: 26px;
  }
  .edit-form {
    padding: 0px;
  }
  .textarea-description {
    width: 100%;
    padding: 0px;
  }
  .item-edit {
    width: 100%;
    flex-direction: column;
  }
  .image-container {
    width: 100%;
  }
  .edit-item-image {
    width: 300px;
  }
}
