.items {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
  margin: 20px;
}

.sort-container {
  display: flex;
  width: 83.5vw;
  justify-content: flex-end;
  margin: 20px;
}

label {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: bold;
  padding-right: 10px;
   
}

select {
  cursor: pointer;
  border: none;
  font-size: 18px;
}

@media (max-width: 500px) {
  .items {
    width: 100%;
    justify-content: space-around;
    margin: 0 0px 20px 70px;
  }
  .sort-container {
    width: 100%;
    justify-content: center;
    margin: 0px;
  }
}
