.create-item-form {
  display: block;
  width: 50vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}

.all-item-info {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1em;
  border: 0.5px solid black;
  color: #000;
  text-align: center;
  background-color: #ffffffa2;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
}

.create-form-item {
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.input-name-item,
.input-prefQty-item,
.input-onHandQty-item,
.input-image-link-item,
.textarea-description-item {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  text-align: left;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-bottom: 0.5px solid #8a8181f9;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1em;
}

.input-prefQty-item value {
}

::placeholder {
  margin-left: 1em;
  background-color: transparent;
  padding: 0.2em 0.5em;
  font-size: 1.2em;
}

.textarea-description-item {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
}

.input-name-item {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: transparent;
  margin-top: none;
}

.input-image-link-item {
  font-size: 1em;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: none;
}

.submit-button-item {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.2em 1em;
  font-size: 1em;
  border: 0.5px solid black;
  color: #000;
  text-align: center;
  background-color: #ffffffa2;
}

@media (max-width: 500px) {
  .submit-button-item {
    width: 40%;
  }

  .create-item-form {
    width: 75vw;
  }

  .layout-children {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
  }
}
