.item-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  flex-direction: column;
  text-align: center;
  border: 0.125px solid #2b2d2f;
  align-content: space-between;
  background-color: #ffffff;
  opacity: 0.9;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
}

.item-edit:before {
  border-bottom: 2px solid #81b9bf;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  top: -35px;
}

.item-container-edit {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3.5em;
}

/* .edit-item-image {  
 margin-bottom: .5em; 
} */

.edit-input-image-link {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  font-size: 1em;
  margin-bottom: 2em;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  margin-bottom: 2em;
}

.input-name {
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em;
  color: black;
  background-color: rgba(255, 255, 255, 0.096);
}

.textarea-description {
  font-size: 1.5em;
  text-align: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: black;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* .preferred {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.096);
} */

.input-preferredQty {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.096);
}

.onHand {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.096);
}

.input-onHandQty {
  text-align: center;
}

button:hover {
  background: #356094;
}

.save-button {
  font-size: 1.5em;
  box-shadow: 2px 2px 10px 2px #cecece;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  margin-top: 1.5em;
}

@media (max-width: 500px) {
  .input-name {
    margin-left: -10px;
    padding-left: -10px;
    font-size: 26px;
  }
  .edit-form {
    padding: 0px;
  }
  .textarea-description {
    width: 100%;
    padding: 0px;
  }
  .item-edit {
    width: 100%;
    flex-direction: column;
  }
  .image-container {
    width: 100%;
  }
  .edit-item-image {
    width: 300px;
  }
}
