.edit-item-container {
  margin-top: 12em;
  max-width: 38vw;
  margin-left: auto;
  margin-right: auto;
}

.edit-form-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  margin-bottom: 1em;
  align-items: center;
}

.textarea-description-edit {
  font-size: 1.5em;
  text-align: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: black;
  margin-bottom: 1em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 25vw;
}

.edit-button-labels {
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.button-labels-forEdit {
  background-color: #e5e5e5;
  margin-left: 1em;
  margin-right: 1em;
}

.edit-item-image {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.edit-item-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
  background-color: #ffffff;
  opacity: 0.9;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
  text-align: center;
}

.item-edit:before {
  border-bottom: 2px solid #81b9bf;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  top: -35px;
}

.item-container-edit {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3.5em;
}

.edit-input-image-link {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  font-size: 1em;
  margin-bottom: 2em;
}

.input-name-edit {
  font-size: 1.5em;
  text-align: center;
  padding: 0.25em;
  color: black;
  background-color: rgba(255, 255, 255, 0.096);
}

::placeholder {
  margin-left: 0;
  background-color: transparent;
  font-size: 1em;
}

.preferred {
  margin-bottom: 1em;
}

button:hover {
  background: #356094;
}

.save-button {
  font-size: 1.5em;
  box-shadow: 2px 2px 10px 2px #cecece;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  margin-top: 1.5em;
}

@media (max-width: 500px) {
  .edit-item-container {
    max-width: 100vw;
  }

  .edit-item-edit {
    /* margin-left: 1.5em; */
  }

  .edit-item-image {
    width: 300px;
    margin: 15px;
    padding: 10px;
  }

  .textarea-description-edit {
    width: 70vw;
  }
}
