.product-edit {
    display: flex;
    padding: 100px;
    padding-top: 80px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-product-image {
    width: 500px;
    padding: 0 40px;
    padding-bottom: 5px;
}

.edit-input-image-link {
    width: 300px;
    text-align: center;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.edit-form {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

.input-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    letter-spacing: 1px;
    padding: 5px;
}

.textarea-description {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 10px;
    letter-spacing: .9px;
    line-height: 1.6;
}

.save-button {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 200px;
    margin-top: 40px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 2px 2px 10px 2px #CECECE;
    cursor: pointer;
}

@media (max-width: 500px) {
    .input-name {
        margin-left: -10px;
        padding-left: -10px;
        font-size: 26px;
    }
    .edit-form {
        padding: 0px;
    }
    .textarea-description {
        width: 100%;
        padding: 0px;
    }
    .product-edit {
        width: 100%;
        flex-direction: column;
    }
    .image-container {
        width: 100%;
    }
    .edit-product-image {
        width: 300px;
    }
}