.search-form {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 70vw;
    font-size: 18px;
    letter-spacing: 0.1px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 40px;
}

.search-input::placeholder {
    letter-spacing: .3px;
}