.search-form {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  background-color: rgba(255, 255, 255, 0.637);
  width: 70vw;
  font-size: 18px;
  letter-spacing: 0.1px;
  padding: 12px 20px 12px 40px;
  border-radius: 3px;
  margin: 40px;
  border: transparent;
  font-family: "Montserrat";
}

.search-input::placeholder {
  letter-spacing: 0.3px;
}

@media (max-width: 500px) {

  .search-form {
    margin: 0 0px 0px 70px;
  }

}